// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Import Bulma and Buefy styles
@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

// Colors
$primary: #FFBF2F;
$primary-invert: findColorInvert($primary);
$secondary: #0A1F3C;
$secondary-invert: findColorInvert($primary);
$ourWhite: #F2F2F2;
$ourWhite-invert: findColorInvert($primary);
$ourGrey: #6D6D73;
$ourGrey-invert: findColorInvert($primary);

$dark: #373737;
$dark-invert: findColorInvert($dark);
$danger: #FF1053;
$danger-invert: findColorInvert($danger);
$white: #FFF;
$white-invert: findColorInvert($white);
$light: #F8F9FA;
$light-invert: findColorInvert($light);
$success: #27AE60;
$success-invert: findColorInvert($success);
$warning: #FFC107;
$warning-invert: findColorInvert($warning);

$facebook: #3B5998;
$google: #dd4b39;
$twitter: #1da1f2;
$youtube: #FF0000;
$linkedin: #4875B4;
$whatsapp: #25D366;
$reddit: #ff4500;

$colors: (
        "primary": ($primary, $primary-invert),
        "dark": ($dark, $dark-invert),
        "danger": ($danger, $danger-invert),
        "white": ($white, $white-invert),
        "success": ($success, $success-invert),
        "warning": ($warning, $warning-invert)
);

// Fonts

@import url('https://fonts.googleapis.com/css?family=Montserrat');
$family-serif: 'Montserrat', sans-serif;





