// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Import Bulma and Buefy styles
@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

$section-padding: 10rem 1.5rem !default;
$section-padding-medium: 9rem 1.5rem !default;
$section-padding-large: 18rem 1.5rem !default;

body {
    background-attachment: fixed;
    background-color: #F2F2F2;
}

#secInfoSensor {
    position: relative;
    top: 10px;
}

#secSensores {
    position: relative;
    top: 10px;
}


#secAvalia {
    position: relative;
    top: 10px;

}

#secComentarios {
    position: relative;
    // top: 5px;
    width: 60%;

}

.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(75, 75, 75, 0.1), 0 2px 5px 0 rgba(75, 75, 75, 0.1);
    // border: 0.5px solid #dbdbdb;
    padding: 10px;
    background: white;
    border-radius: 10px;
}

.title {
    font-size: 20px;
}

.text {
    font-size: 16px;
    color: black
}

.own-comment {
    box-shadow: 0 2px 4px 0 rgba(75, 75, 75, 0.1), 0 2px 5px 0 rgba(75, 75, 75, 0.1);
    border: 0.5px solid #f3ffad;
    padding: 10px;
    background: white;
    border-radius: 10px;
}

.other-comment {
    box-shadow: 0 2px 4px 0 rgba(75, 75, 75, 0.1), 0 2px 5px 0 rgba(75, 75, 75, 0.1);
    border: 0.5px solid #bdbdbd;
    padding: 10px;
    background: white;
    border-radius: 10px;
}

ul {
    list-style: none;
    margin: 0 20px;
}

// Shopping cart